body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.catalogo {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tarjeta-juegos {
    display:flex; 
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 52%);
    background-color: #000d95;
}

.juego img {
    max-width: 100%;
    height: auto;
}

.juego h3 {
    margin: 10px 0;
    color: #333;
}

.juego p {
    color: #555;
}

.juego a {
    display: block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

#lista_juegos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #3a3a77;
}

img {
    width: 250px;
    height: 250px;
}
