.fondoreg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #020E7C;
    margin: 0;
}

.registroh1 {
    background-color: #0B2DEB;
    width: 11,5%;
    color: #000000;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
    display: block; 
    margin: 0 auto; 
}
.Contenedor2 {
    text-align: center;
    background-color: #16192b;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    width: 300px;
    margin-top: 20px;
}

.registro {
    display: inline-block;
    text-align: left;
}


label {
    font-weight: bold;
}

.inputreg {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border: 1px solid  #585b5b;
}

.registro-boton {
    background-color: #048308;
    width: 25%;
    color: #ffffff;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    display: block; 
    margin: 0 auto;
}

.boton:hover {
    text-decoration: none;
}